.banner {
   background-image: url('../img/background.png');
   display: inline-block;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 550px;
 }
 
 .titulo-principal {
   font-family: 'Gloria Hallelujah', cursive;
   text-align: center;
   margin-top: 220px;
   font-size: 5rem;
   color: #f0f8ff;
   transition: .5s all;
 }
 
 .titulo-principal:hover {
   transition: .5s all;
   font-size: 6rem;
   cursor: pointer;
 }

 @media screen and (max-width:800px){
  
   .banner {
      display: none;
   }
 
}