.mobile__pesquisa, .logo-mobile {
   display: none;
}

.cabecalho-link {
   background-color: var(--background-branco);
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   box-shadow: 2px 2px 10px 8px rgba(0, 0, 0, 0.322);
 }
 
 .logo-imagem {
   display: inline-block;
   width: 100%;
 }
 
 .pesquisa-input {
   width: 30%;
 }
 
 .pesquisa-passagem {
   width: 100%;
   background-color: rgba(255, 255, 255, 0);
   border: none;
   border: 2px solid rgb(157, 157, 157);
   border-radius: 5px ;
   padding: 1em 0 1em .5em;
 }
 
 .pesquisa-passagem::placeholder {
   background: url("../img/Lupa\ pesquisa.png");
   background-repeat: no-repeat;
   padding: 0 1em 0 2em;
 }
 
 .lista-links {
   width: 20%;
   justify-content: space-around;
   display: flex;
 }
 
 .itens-lista-links {
   text-transform: uppercase;
   color: #000000;
   font-size: 1.3rem;
   font-weight: bold;
   transition: .8s;
 }
 
 .itens-lista-links:hover {
   transition: .5s;
   cursor: pointer;
   opacity: 0.5;
   font-weight: bold;
 }

 @media screen and (max-width:800px){
  
   .pesquisa-input, .logo-imagem {
      display: none;
   }
 
   .logo-mobile {
      display: block;
   }

   .cabecalho-link {
      width: 100vw;
      justify-content:space-around;
      align-items: center;
   }

   .lista-links{
      width: auto;
      justify-content: space-around;
   }

   .itens-lista-links {
      font-size: .8em;
      padding-left: 1em;
   }

   .mobile__pesquisa{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 20vh;
      background-image:url("../img/background.png");
   }

   .mobile__pesquisa-input{
      width: 70%;
      height: 2em;
      padding: 1.2em;
      background: transparent;
      border: none;
      border-bottom: 2px solid var(--background-branco);
      border-radius: 10px;
   }

   .mobile__pesquisa-input::placeholder {
      color: var(--background-branco);
      background: url("../img/Lupa\ pesquisa.png");
      background-repeat: no-repeat;
      padding-left: 2em;
   }
}

@media screen and (max-width:1500px) {

   .logo-imagem {
      display: none;
   }

   .logo-mobile {
      display: block;
   }

   .itens-lista-links {
      font-size: 1em;
      padding-left: 1em;
   }
}