@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url("./header.css");
@import url("./banner.css");
@import url("./main.css");
@import url("./footer.css");

:root {
  --background-branco: #ffffff;
  --background-secundario:#e6e6e6cb;
}


body {
  background-color:var(--background-secundario);
  font-family: 'Inter', sans-serif;
}

